name: Simple PHP CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Check PHP syntax
        run: |
          find webb -name "*.php" -print0 | xargs -0 -n1 php -l

      - name: Run Basic Test
        run: php tests/BasicLoadTest.php
